@import "./global/normalize";
@import "./global/variables";
@import "./global/mixins";
@import "./components/text";
@import "./components/nav";
@import "./components/header";
.wrapper {
    display: flex;
    font-family:'Lato', sans-serif;
}

.wrapper__inner {
    flex: 1 1 auto;
    @include column;
}
// main
.row {
    display: flex;
    flex-wrap: wrap;
}

main {
    padding: 10px;
    background: $colorBackground;
}
main section {
    margin: 10px;
    background-color: darkolivegreen;
}
.row__nowrap {
    display: flex;
}

.column {
    display: flex;
    flex-flow: column wrap;
}

.s1, .s2 {
    height: 265px;
}
.s1 {
    flex-grow: 1;
}
.s2 {
    width: 265px;
}
.s3 {
    flex: 1 0 265px;
}

.meow {
    flex: 0 1 500px;
}

.s4, .s5, .s6 {
    height: 245px;
}
.s5, .s6 {
    flex: 1 1 240px;
}
aside {
    height: 100%;
    background: darkred;
}
footer {
    height: 220px;
    background: darkmagenta;
}

.aside {
    display: flex;
    flex-direction: column;
    min-width: 271px;
}




@media (max-width: 1200px) {
    .px1200 {
        flex-direction: column;
    }
    .s3 {
        height: 300px;
    }
    header {
        nav {
            flex-wrap: wrap;
            justify-content: start;
            .flex:last-child {
                margin-left: auto;
            }
            .nav__search {
                order: 1;
                flex: 1 1 1100px;
                input {
                    width: 90%;
                }
                button {
                    right: calc(5% + 13px);
                }
            }
        }
    }
}
@media (max-width: 900px) {
    .px900 {
        flex-wrap: wrap;
    }
    .aside {
        width: 100%;
    }
    .column900px {
        flex-direction: column;
    }
    .s2 {
        width: auto;
    }
    .pxcolumn {
        flex-direction: column;
    }
    aside {
        position: fixed;
        bottom: 10%;
        right: -255px;
        height: 50vh;
        width: 271px;
    }
    aside:hover {
        right: 0;
    }
    .for-nav {
        position: fixed;
    }
    .sidebar {
        position: fixed;
        left: -60px;
    }
    .sidebar:hover {
        left: 0;
    }
}

@media (max-width: 700px) {
    .flex:nth-child(2n+1) {
        display: none;
    }
}