@import "./global/normalize";
@import "./global/variables";
@import "./global/mixins";
@import "./global/placeholder-selectors";
@import "./global/text";
@import "./components/nav";
@import "./components/header";
@import "./components/main";
    @import "./components/main-revenue-month";
    @import "./components/main-revenue-hour";
    @import "./components/main-feed";
    @import "./components/main-tasks";
    @import "./components/main-progress";
    @import "./components/main-shipments";
@import "./components/aside";
@import "./components/footer";
input[type="radio"] {
    display: none;
}

.wrapper {
    display: flex;
    font-family:'Lato', sans-serif;
}

.wrapper__inner {
    flex: 1 1 auto;
    @include column;
}

.wrapper__middle {
    display: flex;
    flex-wrap: wrap;
}

.aside {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px 0 18px;
    h4 {
        padding-bottom: 9px;
    }
}

@media (min-width: 1400px) {
    .feed {
        flex-basis: 40%;
    }
    .revenue-month {
        flex-basis: 70%;
    }
}

@media (max-width: 1200px) {
    header {
        nav {
            flex-wrap: wrap;
            justify-content: start;
            .flex:last-child {
                margin-left: auto;
            }
            .nav__search {
                order: 2;
                flex: 1 1 1100px;
                &:after {
                    right: calc(5% + 15px);
                }
                input {
                width: 90%;
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .for-nav {
        position: fixed;
        z-index: 1;
    }
    .sidebar {
        position: fixed;
        left: -45px;
        border-right: 20px solid transparent;
    }
    .sidebar:hover {
        left: 0;
    }
}

@media (max-width: 700px) {
    .flex:nth-child(2n+1) {
        order: 1;
        height: 50px;
        a {
            padding: 0 calc((100vw - 157px)/12);
        }
    }
    .flex:last-child {
        justify-content: space-between;
        width: 100%;
    }
    .revenue-month__title {
        label {
            display: none;
        }
    }
}

@media (max-width: 600px) {
    .wrapper__middle {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .tasks {
        li:hover {
            height: 200px;
        }
    }
    aside {
        position: fixed;
        bottom: 10%;
        right: -246px;
        height: 50vh;
        width: 271px;
        border-left: 20px solid transparent;
    }
    aside:hover {
        right: 0;
    }
}

@media (min-width: 1370px) {
    .months {
        justify-content: space-around;
        .line-red {
            width: 100%;
        }
        .line-blue {
            width: 100%;
        }
        .line-purple {
            width: 100%;
        }
    }
}