aside {
    z-index: 1;
    flex: 1 0 auto;
    @include column;
    form {
        display: flex;
        justify-content: space-between;
        @include gradient();
        a {
            position: relative;
            width: 33%;
            &:hover {
                background: #c54556;
            }
            &:hover:after {
                display: block;
            }
            &:after {
                @extend %absPosition;
                top: calc(100% - 3.5px);
                left: calc(50% - 5px);
                display: none;
                @include square(7px);
                background: #c54556;
                transform: rotate(45deg);
            }
        }
    }
    label {
        display: block;
        height: 48px;
        @include forButtonsAside(users);
        @include forButtonsAside(chat);
        @include forButtonsAside(like);
        background-repeat: no-repeat;
        background-position: center;
    }
}

.contacts {
    flex: 1 0 auto;
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    background: $colorBase;
}

.contact__item {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid $colorBorder;
    &:last-child {
        border: none;
    }
    img {
        @include square(42px);
        object-fit: none;
        object-position: center 15%;
    }
    a {
        @include square(20px);
        margin-left: auto;
        background: url(../img/chat/tochat.png) no-repeat center;
    }
}

.search {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background: $colorBackInput;
    &:after {
        @extend %absPosition;
        right: calc(26% - 19px);
        @include square(19px);
        background: url(../img/search.png) no-repeat center/cover;
    }
    input {
        flex: 0 1 165px;
        @include fontProperties($sizeStep*2, $weightStep*3, $colorSubtitle);
        padding-bottom: 6px;
        background: $colorBackInput;
        border: none;
        border-bottom: 1px solid $colorBorder;
    }
    button {
        @include square(19px);
        border: none;
        background: transparent url(../img/chat/edit.png) no-repeat center/cover;
        cursor: pointer;
    }
}

