header {
    @include column;
    nav {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $colorBorder;
        a {
            display: flex;
            align-items: center;
            border-right: 1px solid $colorBorder;
            padding: 20px;
            &:hover {
                background: $colorBackground;
            }
            &:active {
                background: $colorSubtitle;
            }
        }
        img {
            border-right: 1px solid $colorBorder;
        }
    }
    h4 {
        @include fontGradientProperties($sizeName);
    }
}

.flex {
    display: flex;
}

.read-more {
    position: relative;
    width: 34px;
    height: 18px;
    @include gradient();
    border-radius: 9px;
    span {
        position: relative;
        display: block;
        width: 6px;
        height: 6px;
        margin: 6px auto;
        border-radius: 3px;
        background: $colorBase;
        &:before {
            content: '';
            position: absolute;
            right: 8px;
            width: 6px;
            height: 6px;
            border-radius: 3px;
            background: $colorBase;
        }
        &:after {
            content: '';
            position: absolute;
            left: 8px;
            width: 6px;
            height: 6px;
            border-radius: 3px;
            background: $colorBase;
        }
    }
}

.icon {
    width: 20px;
    height: 100%;
    @include gradient();
    background-clip: content-box;
}

.icon--folder {
    mask: url(../img/header/folder.png) no-repeat center;
}

.icon--setup {
    mask: url(../img/header/setup.png) no-repeat center;
}

.icon--upload {
    mask: url(../img/header/upload.png) no-repeat center;
}

.icon--email {
    mask: url(../img/header/email.png) no-repeat center;
}

.icon--earth {
    mask: url(../img/header/earth.png) no-repeat center;
}

.red-mark {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: calc(50% - 16px);
        right: calc(50% - 16px);
        width: 6px;
        height: 6px;
        border-radius: 50%;
        @include gradient();
    }
}

::placeholder {
    color: $colorSearch;
}

.nav__search {
    position: relative;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid $colorBorder;
    &:after {
        content: '';
        position: absolute;
        right: calc(50% - 137px);
        width: 16px;
        height: 16px;
        background: url(../img/search.png) no-repeat center/cover;
    }
    input {
        width: 300px;
        height: 34px;
        padding-left: 13px;
        font-size: $sizeSimpleText;
        background: $colorBackInput;
        border: 1px solid $colorBorder;
        border-radius: 17px;
    }
}

.burger {
    position: relative;
    align-self: center;
    width: 4px;
    height: 4px;
    margin: 0 19px;
    border-radius: 50%;
    background: $colorSubtitle;
    &:before {
        content: '';
        position: absolute;
        top: -6px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: $colorSubtitle;
    }
    &:after {
        content: '';
        position: absolute;
        top: 6px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: $colorSubtitle;
    }
}

.stactics {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.items {
    flex: 1 0 auto;
    width: 145px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding-left: 35px;
    overflow-x: auto;
    overflow-y: hidden;
}

.item {
    flex: 0 0 165px;
    p {
        padding-bottom: 9px;
    }
    span {
        @include fontProperties($color: $colorSubtitle);
        position: relative;
        padding: 8px;
        &:first-of-type:before {
            content: '';
            position: absolute;
            bottom: 12px;
            left: -2px;
            border: 3px solid transparent;
            border-bottom: 6px solid $colorTriangle;
        }
        &:last-of-type:before {
            content: '';
            position: absolute;
            top: 12px;
            left: -2px;
            border: 3px solid transparent;
            border-top: 6px solid $colorTaskTitle;
        }
    }
}

.add {
    flex: 0 0 145px;
    @include column;
    justify-content: center;
    padding-left: 6px;
    border: none;
    background: $colorBase;
    &:hover {
        background: $colorBackground;
    }
    &:active {
        background: $colorSubtitle;
    }
    p {
        @include fontGradientProperties($sizeSimpleText, $weightStep*7)
    }
}