header {
    @include column;
    nav {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $colorBorder;
        a {
            display: flex;
            align-items: center;
            border-right: 1px solid $colorBorder;
            padding: 20px;
            &:hover {
                background: $colorBackground;
            }
            &:active {
                background: $colorSubtitle;
            }
        }
        img {
            border-right: 1px solid $colorBorder;
        }
    }
    h4 {
        @include fontGradientProperties($sizeName);
    }
}

.header__nav {
    display: flex;
}

.read-more {
    width: 34px;
    height: 18px;
    @include gradient();
    border-radius: 9px;
}

@include forButtonsHeader(folder);
@include forButtonsHeader(setup);
@include forButtonsHeader(upload);
@include forButtonsHeader(email);
@include forButtonsHeader(earth);

.red-mark {
    position: relative;
    &:after {
        @extend %absPosition;
        top: calc(50% - 16px);
        right: calc(50% - 16px);
        @include circle(6px);
        @include gradient();
    }
}

::placeholder {
    color: $colorSearch;
}

.nav__search {
    position: relative;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid $colorBorder;
    &:after {
        @extend %absPosition;
        right: calc(50% - 137px);
        @include circle(16px);
        background: url(../img/search.png) no-repeat center/cover;
    }
    input {
        width: 300px;
        height: 34px;
        padding-left: 13px;
        font-size: $sizeSimpleText;
        background: $colorBackInput;
        border: 1px solid $colorBorder;
        border-radius: 17px;
    }
}

.burger {
    position: relative;
    align-self: center;
    @include circle(4px);
    margin: 0 19px;
    background: $colorSubtitle;
    &:before {
        @extend %absPosition;
        top: -6px;
        @include circle(4px);
        background: $colorSubtitle;
    }
    &:after {
        @extend %absPosition;
        top: 6px;
        @include circle(4px);
        background: $colorSubtitle;
    }
}

.stactics {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.items {
    flex: 1 0 auto;
    width: 145px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding-left: 35px;
    overflow-x: auto;
    overflow-y: hidden;
}

.item {
    flex: 0 0 165px;
    p {
        padding-bottom: 9px;
    }
}

.add {
    flex: 0 0 145px;
    @include column;
    justify-content: center;
    padding-left: 6px;
    border: none;
    background: $colorBase;
    &:hover {
        background: $colorBackground;
    }
    &:active {
        background: $colorSubtitle;
    }
    p {
        @include fontGradientProperties($sizeSimpleText, $weightStep*7)
    }
}