.revenue-hour {
    align-items: center;
    padding: 30px 70px;
    span:first-of-type {
        margin-left: 8px;
    }
}

.circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @include circle(124px);
    background: $colorSearch url(../img/main/circle-percentage.png) no-repeat center/cover;
    &:before {
        @extend %absPosition;
        top: 10px;
        left: 10px;
        @include circle(104px);
        background: $colorBase;
    }
    &:after {
        @extend %absPosition;
        top: 18px;
        left: 18px;
        @include circle(88px);
        background: $colorBase;
        box-shadow: 0 0 3px 3px $colorSearch;
    }
    h2 {
        z-index: 1;
        @include fontGradientProperties($size: $sizeStep*5, $angle: $angleStep*7, $start: $gradientCircleStart, $end: $gradientCircleEnd)
    }
}