.for-nav {
    flex: 0 0 70px;
}

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    width: 70px;
    height: 100vh;
    @include column;
}

.logo {
    height: 70px;
    padding-top: 19px;
    font: 700 30px 'Deftone Stylus', 'Comic Sans MS', 'Monaco CY', cursive;
    text-align: center;
    background: #ffffff;
    box-shadow: 0 1px 6px 3px $colorSearch;
    p {
        color: transparent;
        @include fontGradientProperties($size: $sizeStep*6, $angle: $angleStep*4);
        padding-right: 10px;
    }
    &:hover {
        background: $colorBackground;
    }
    &:active {
        background: $colorSubtitle;
    }
}

.sidebar__wrapper {
    @include gradient($angleStep*4);
    @include column;
    flex: auto;
    label {
        display: block;
        padding-top: 28px;
        background-repeat: no-repeat;
        background-position: center top;
        @include forButtonsNav(home);
        @include forButtonsNav(stactics);
        @include forButtonsNav(user);
        @include forButtonsNav(settings);
        @include forButtonsNav(information);
    }

    a {
        position: relative;
        @include column;
        align-items: center;
        font-size: 10px;
        color: $colorBase;
        padding: 15px 0;
        .power {
            width: 20px;
            height: 20px;
            background: url(../img/nav/power-button.png) no-repeat center;
        }
        &:first-child {
            padding-top: 30px;
        }
        &:last-child {
            margin-top: auto;
            padding-bottom: 20px;
        }
        &:hover {
            background: #c54556;
        }
        &:hover:after {
            display: block;
        }
        &:after {
            @extend %absPosition;
            top: 50%;
            left: calc(100% - 3.5px);
            display: none;
            @include square(7px);
            background: #c54556;
            transform: rotate(45deg);
        }
        &:last-child:hover:after {
            display: none;
        }
    }
}
