@mixin gradient($angle: $angleStep*6, $start: $gradientBaseStart, $end: $gradientBaseEnd) {
    background: linear-gradient($angle, $start, $end);
}

@mixin column {
    display: flex;
    flex-direction: column;
}

@mixin fontProperties($size: $sizeSimpleText, $weight: $weightStep*7, $color: $colorTitle) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin fontGradientProperties($size: $sizeStep*4, $weight: $weightStep*7, $angle: $angleStep*6, $start: $gradientBaseStart, $end: $gradientBaseEnd) {
    font-size: $size;
    font-weight: $weight;
    color: transparent;
    @include gradient($angle, $start, $end);
    -webkit-background-clip: text;
}