@mixin gradient($angle: $angleStep*6, $start: $gradientBaseStart, $end: $gradientBaseEnd) {
    background: linear-gradient($angle, $start, $end);
}

@mixin square($size) {
    width: $size;
    height: $size;
}

@mixin circle($size, $rounded: 50%) {
    @include square($size);
    border-radius: $rounded;
}

@mixin column {
    display: flex;
    flex-direction: column;
}

@mixin fontProperties($size: $sizeSimpleText, $weight: $weightStep*7, $color: $colorTitle) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin fontGradientProperties($size: $sizeStep*4, $weight: $weightStep*7, $angle: $angleStep*6, $start: $gradientBaseStart, $end: $gradientBaseEnd) {
    font-size: $size;
    font-weight: $weight;
    color: transparent;
    @include gradient($angle, $start, $end);
    -webkit-background-clip: text;
}

@mixin forSpan($upDown, $color) {
    left: -2px;
    border: 3px solid transparent;
    border-#{$upDown}: 6px solid $color;
}

@mixin forButtonHeader {
    @include circle(6px);
    background: $colorBase;
}

@mixin forButtonsAside($nameButton) {
    &[for*="#{$nameButton}"] {
        background-image: url(../img/chat/#{$nameButton}.png);
    }
}

@mixin forButtonsHeader($nameButton) {
    .icon--#{$nameButton} {
        width: 20px;
        height: 100%;
        @include gradient();
        background-clip: content-box;
        mask: url(../img/header/#{$nameButton}.png) no-repeat center;
    }
}